    <div class="table-responsive">
        <table class="table table-sm align-middle text-white">
            <% if (view === 'meralco') { %>
                <!-- MERALCO LIST -->
                <thead class="table-dark text-nowrap text-start">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">tenant ID</th>
                        <th scope="col">Per kWh</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Date of Reading</th>
                        <th scope="col">Previous Reading</th>
                        <th scope="col">Current Reading</th>
                        <th scope="col">Consume</th>
                        <th scope="col">Status</th>
                        <% if(mainUser.role_id == 1) { %>
                        <th scope="col">Action</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody class="text-nowrap text-start">
                <% meralcoData.forEach((meralco) => { %>
                    <tr>
                        <td scope="row"><%= meralco.meralco_id %></td>
                        <td><%= meralco.tenant_id %></td>
                        <td><%= meralco.per_kwh %></td>
                        <td><%= meralco.due_date %></td>
                        <td><%= meralco.date_of_reading %></td>
                        <td><%= meralco.previous_reading %></td>
                        <td><%= meralco.current_reading %></td>
                        <td><%= meralco.consume %></td>
                        <td>
                            <%- meralco.is_paid == 1 ? '<span class="green">Paid</span>' : '<span class="red">Not Paid</span>' %>
                        </td>
                        <% if(mainUser.role_id == 1) { %>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#meralcoEditModal_<%= meralco.meralco_id %>">
                                    Edit
                                </button>
                            </td>
                        <% } %>
                        <%- include('./edit-modal.ejs', { meralco: meralco }) %>
                    </tr>    
                <% }); %>
                </tbody>
            <% } else if (view === 'tenant') { %>
                <!-- TENANT LIST -->
                <thead class="table-dark text-nowrap text-start">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Unit</th>
                        <th>Contact Number</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-nowrap text-start">
                    <% tenantData.forEach((tenant) => { %>
                        <tr>
                            <td><%= tenant.tenant_id %></td>
                            <td><%= tenant.business_name %></td>
                            <td><%= tenant.unit %></td>
                            <td><%= tenant.contact_number %></td>
                            <td><%= tenant.status %></td>
                            <td>
                                <div>
                                    <a href="/dashboard/tenant?view=tenant_view&id=<%= tenant.tenant_id %>&edit=false" class="btn btn-primary btn-sm">View</a>
                                    <a href="/dashboard/tenant?view=tenant_view&id=<%= tenant.tenant_id %>&edit=true" class="btn btn-warning m-1 btn-sm">Edit</a>
                                    <a href="/tenant_process/delete-tenant?id=<%= tenant.tenant_id %>&do=delete" class="btn btn-danger btn-sm">Delete</a>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            <% } else if (view === 'user') { %>
                <!-- USER LIST -->
                <thead class="table-dark text-nowrap text-start">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-nowrap text-start">
                    <% userData.forEach((userData) => { %>
                        <tr>
                            <td><%= userData.id %></td>
                            <td><%= userData.username %></td>
                            <td><%= userData.role_id %></td>
                            <td>
                                <div class="last-td">
                                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#userEditModal_<%= userData.id %>">
                                        Edit
                                    </button>
                                    <% if(userData.id !== mainUser.id) { %> 
                                        <a href="/user_process/delete-user?id=<%= userData.id %>&do=delete" class="btn btn-danger btn-sm">Delete</a>
                                    <% } %>
                                </div>
                            </td>
                        </tr>
                        <%- include('./edit-modal.ejs', { userData: userData }) %>
                    <% }); %>
                </tbody>
            <% } %>        
        </table>
    </div>