<div class="table-main">
    <table>
        <% if (view === 'meralco') { %>
        <thead>
            <tr>
                <th>meralco id</th>
                <th>tenant ID</th>
                <th>Per kWh</th>
                <th>Due Date</th>
                <th>Date of Reading</th>
                <th>Previous Reading</th>
                <th>Current Reading</th>
                <th>Consume</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% meralcoData.forEach((meralco) => { %>
                <tr>
                    <td><%= meralco.meralco_id %></td>
                    <td><%= meralco.tenant_id %></td>
                    <td><%= meralco.per_kwh %></td>
                    <td><%= meralco.due_date %></td>
                    <td><%= meralco.date_of_reading %></td>
                    <td><%= meralco.previous_reading %></td>
                    <td><%= meralco.current_reading %></td>
                    <td><%= meralco.consume %></td>
                    <td>
                        <%- meralco.is_paid == 1 ? '<span class="green">Paid</span>' : '<span class="red">Not Paid</span>' %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
        <% } else if (view === 'tenant') { %>
            <thead>
            <tr>
                <th>Tenant ID</th>
                <th>Name</th>
                <th>Unit</th>
                <th>Contact Number</th>
                <th>Lease Start</th>
                <th>Lease End</th>
            </tr>
        </thead>
        <tbody>
            <% tenantData.forEach((tenant) => { %>
                <tr>
                    <td><%= tenant.tenant_id %></td>
                    <td><%= tenant.business_name %></td>
                    <td><%= tenant.unit %></td>
                    <td><%= tenant.contact_number %></td>
                    <td><%= new Date(tenant.lease_start).toLocaleDateString() %></td>
                    <td><%= new Date(tenant.lease_end).toLocaleDateString() %></td>
                </tr>
            <% }); %>
        </tbody>
        <% } else if (view === 'user') { %>
            <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody class="action">
                <% userData.forEach((userData) => { %>
                    <tr>
                        <td><%= userData.id %></td>
                        <td><%= userData.username %></td>
                        <td><%= userData.role_id %></td>
                        <td>
                            <div class="last-td">
                                <button id="userEditBtn_<%= userData.id %>" class="button">Edit</button>
                                <% if(userData.id !== mainUser.id) { %> 
                                    <button class="red-button"><a href="/user_process/delete-user?id=<%= userData.id %>&do=delete" >Delete</a></button>
                                <% } %>
                            </div>
                        </td>
                    </tr>


                    <!-- Edit User Modal -->
                    <div id="editUserModal_<%= userData.id %>" class="modal">
                        <div class="modal-content">
                            <div class="model-title">
                                <h2>Edit User</h2>
                                <span class="close" data-modal="editUserModal_<%= userData.id %>">&times;</span>
                            </div>

                            <form id="editUserForm" method="POST" action="user_process/edit-user?id=<%= userData.id %>">
                                <div class="editForm">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="username" value="<%= userData.username %>" required>
    
                                    <label for="password">New Password:</label>
                                    <input type="text" id="password" name="password" >
    
                                    <label for="role">Role:</label>
                                    <select id="role" name="role" required>
                                        <option value="">Select Role</option>
                                        <% roles.forEach(role => { %>
                                            <option value="<%= role.role_id %>" <%= role.role_id === userData.role_id ? 'selected' : '' %>><%= role.roles_name %></option>
                                        <% }) %>
                                    </select>
                                    <br>
                                    <button class="button" type="submit">Submit Edit User</button>
                                    <br>
                                </div>
                            </form>
                        </div>
                    </div>

                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const openModal_edit = modalEditId => {
                                const modal = document.getElementById(modalEditId);
                                modal.style.display = "block";
                            };
                    
                            const closeModal_edit = modalEditId => {
                                const modal = document.getElementById(modalEditId);
                                modal.style.display = "none";
                            };
                    
                            const editHandleButtonClick = event => {
                                const userId = <%= userData.id %>;
                                if (event.target.id === 'userEditBtn_' + userId) {
                                    openModal_edit('editUserModal_' + userId);
                                }
                            };
                    
                            document.getElementById("userEditBtn_<%= userData.id %>").addEventListener("click", editHandleButtonClick);
                            
                    
                            window.addEventListener("click", event => {
                                if (event.target.classList.contains('modal')) {
                                    closeModal_edit(event.target.id);
                                }
                            });
                        });
                        </script>

                <% }); %>
            </tbody>
        <% } %>        
    </table>

    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a class="a" href="/dashboard?view=<%= view %>&page=<%= currentPage - 1 %>">&laquo; Previous</a>
        <% } else { %>
            <span class="disabled">&laquo; Previous</span>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
            <% if (i === currentPage) { %>
                <span class="current-page"><%= i %></span>
            <% } else { %>
                <a class="a" href="/dashboard?view=<%= view %>&page=<%= i %>"><%= i %></a>
            <% } %>
        <% } %>
    
        <% if (currentPage < totalPages) { %>
            <a class="a" href="/dashboard?view=<%= view %>&page=<%= currentPage + 1 %>">Next &raquo;</a>
        <% } else { %>
            <span class="disabled">Next &raquo;</span>
        <% } %>
    </div>

   
</div>

