<!DOCTYPE html>
<html lang="en">
<%- include('../components/header') %>
<body>
  <% if (notificationMessage) { %>
    <div class="alert alert-<%= notificationMessage.type %>" id="notificationMessage">
        <%= notificationMessage.text %>
    </div>
<% } %>


    <div class="main">
        <%- include('../components/navbar') %>
        
        <div class="sub-section">
          <div class="sub-head">
            <%- include('../components/sub-head') %>
          </div>
          <div class="main-section">
            <%- include('../components/main-section') %>
          </div>


        </div>
    </div>


    <script>
      // Function to hide the notification message after 3 seconds
      setTimeout(() => {
          const notificationMessage = document.getElementById('notificationMessage');
          if (notificationMessage) {
              notificationMessage.style.display = 'none';
          }
      }, 3000);
  </script>
  

</body>
</html>
 